.blog-recent::after {
    content: "";
    display: block;
    clear: both;
}

.blogSocialSection {
    padding: 15px 0;
}

.blogContainer blockquote {
    background-color: white;
    border: 0;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 140%;
}

.blogContainer .youtube {
    margin: auto;
}

.blogContainer .photocredit {
    position: relative;
    top: -18px;
    padding-left: 15%;
    padding-right: 15%;
    margin: auto;
    text-align: center;
    font-size: 70%;
    margin-bottom: 1.2em;
}
