sup {
    vertical-align: super;
    font-size: 70%;
}

.mainContainer a {
    color: #82407f;
}
.mainContainer a:hover {
    text-decoration: underline;
}

.remove-margin {
    margin: inherit;
}

.inline-button {
    vertical-align: middle;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}