sup {
    vertical-align: super;
    font-size: 70%;
}

.mainContainer a {
    color: #82407f;
}
.mainContainer a:hover {
    text-decoration: underline;
}

.remove-margin {
    margin: inherit;
}

.inline-button {
    vertical-align: middle;
}

.center-block {
    margin: auto;
}

.homeContainer .homeWrapper {
    justify-content: space-around;
    align-items: center;
}

.homeContainer .homeWrapper .logo {
    flex: auto;
    order: 2;
    display: block;
}

.homeContainer .homeWrapper .logo .logo-icon {
    max-height: 190px;
    max-width: 30vw;
}
.homeContainer .homeWrapper .logo .logo-text {
    max-height: 110px;
}

.projectTitle {
    font-family: Roboto;
    font-weight: 900;
    margin-top: 1em;
}

.projectDescription {
    color: #5b708b;
    font-size: 1.2em;
    text-align: left;
    padding-top: .1em;
    padding-bottom: 1.5em;
}

.intro h2 {
    text-align: left;
}

a.button {
    color: #ffffff;
    background-color: #28aee4;
    font-size: 19px;
    font-weight: 700;
    padding: 16px;
}

.highlightBackground {
    background-color: #1685b1;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 736px) {
    .homeContainer .homeWrapper {
        display: flex;
    }
    .homeContainer .homeWrapper .logo {
        margin-bottom: 0px;
    }
    /*
    .homeContainer .homeWrapper .logo .logo-icon {
        max-height: 200px;
    }
    .homeContainer .homeWrapper .logo .logo-text {
        max-height: 120px;
    }
    */
    .homeContainer .homeWrapper .intro {
        max-width: 400px;
        padding-top: 2em;
        padding-bottom: 2em;
    }
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

@media only screen and (min-width: 1200px) {
}