.nav-footer {
    padding-left: 2em;
    padding-right: 2em;
}
.nav-footer .sitemap a {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.nav-footer .credits {
    color: rgba(255, 255, 255, 0.4);
    display: flex;
    margin-left: 60px;
    margin-right: 60px;
    text-align: center;
}

.nav-footer .credits > * {
    flex: 1 100%;
}

.madeWith {
    line-height: 18px;
}
.madeWith .heart {
    height: 18px;
    vertical-align: middle;
}

.nav-footer .unbounded {
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-footer .unbounded .logo img {
    height: 20px;
    opacity: 0.4;
    margin-left: 10px;
}

.nav-footer .copyright {
    text-align: right;
}

@media only screen and (max-width: 735px) {
    .nav-footer .sitemap {
        align-items: center;
        text-align: center;
    }
    .nav-footer .sitemap .nav-home {
        margin: auto;
    }
    .nav-footer .sitemap > div {
        margin-top: 14px;
        margin-bottom: 0;
    }
    .nav-footer .sitemap {
        line-height: 20px;
    }

    .nav-footer .credits {
        flex-direction: column;
    }
    .nav-footer .unbounded {
        margin-top: 1.5em;
        justify-content: center;
    }
    .nav-footer .copyright {
        text-align: center;
    }
}
