/*
 * Header nav
 */

.fixedHeaderContainer {
    background: white;
    position: static;
}

.fixedHeaderContainer a {
    color: $primaryColor;
}

#fixedHeader {
    position: fixed;
    width: 100%;
    z-index: 9999;
}

/*
 * Announcement bar
 */
.announcementWrapper {
    position: relative;
    font-size: 16px;
    line-height: 120%;
    background-color: #ade1f5;
    color: #565656;
}

.announcement {
    font-weight: 600;
    padding: 0.4em 20px;
    margin: auto;
    text-align: center;
}

.announcement.dismissed {
    display: none;
}

.announcement p {
    margin-bottom: 0.5em;
}

.announcement a {
    color: #384ec7;
}

.closeButton {
    height: 16px;
    width: 16px;
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Version number text */
.fixedHeaderContainer header h3 {
    color: $primaryColor;
}

.navigationSlider .slidingNav ul li a {
    color: white;
    font-size: 100%;
    font-weight: 600;
}

.navigationSlider .slidingNav ul li > a:focus,
.navigationSlider .slidingNav ul li > a:hover,
.navigationSlider .slidingNav ul li.siteNavItemActive > a,
.navigationSlider .slidingNav ul li.siteNavGroupActive > a {
    background-color: $primaryColor;
}

.navigationSlider .slidingNav ul li a:hover,
.navigationSlider .slidingNav ul li.siteNavItemActive a,
.navigationSlider .slidingNav ul li.siteNavGroupActive a {
    color: $darkBlueTextColor;
}

@media only screen and (min-width: 1024px) {
    .navigationSlider .slidingNav ul li a {
        color: $headerColor;
        font-weight: 500;
    }

    .navigationSlider .slidingNav ul li > a:focus,
    .navigationSlider .slidingNav ul li > a:hover,
    .navigationSlider .slidingNav ul li.siteNavItemActive > a,
    .navigationSlider .slidingNav ul li.siteNavGroupActive > a {
        background: none;
    }

    .navigationSlider .slidingNav ul li a:hover,
    .navigationSlider .slidingNav ul li.siteNavItemActive a,
    .navigationSlider .slidingNav ul li.siteNavGroupActive a {
        color: $headingColor;
    }
}

.reactNavSearchWrapper input#search_input_react {
    color: $headingColor;
    background-color: hsl(0, 0%, 92%);
}

.navSearchWrapper::before {
    border-color: $searchPlaceholderColor;
}

.navSearchWrapper::after {
    background-color: $searchPlaceholderColor;
}

input::-webkit-input-placeholder {
    color: $searchPlaceholderColor;
}

input::-moz-placeholder {
    color: $searchPlaceholderColor;
}

input::placeholder {
    color: $searchPlaceholderColor;
}

.navigationSlider .slidingNav ul {
    align-items: baseline;
}

.navigationSlider .github {
    margin-top: -5px;
}

.navigationSlider .slidingNav .github a {
    display: inline-block;
}

.navigationSlider .githubLogo {
    height: 22px;
    width: 22px;
    position: relative;
    top: 5px;
    color: black;
}

.navigationSlider .githubStar {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: 2px;
}

/*
 * Left side nav
 */
.toc .toggleNav ul li.navListItemActive a {
    color: $blueTextOnWhiteColor;
}

/*
 * Right side nav
 */
.onPageNav .toc-headings > li > a.active {
    color: $blueTextOnWhiteColor;
}
