/*
 * MacOS-like terminal styling
 */
.term {
    border-radius: 7px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.56);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-top: 2em;
    margin-bottom: 2em;
    width: fit-content;
}
.term-header {
    display: flex;
    padding: 5px;
    background: linear-gradient(#3b3b3b, #212121);
}
.term-header-button {
    position: relative;
    width: 12px;
    height: 12px;
    margin-right: 8px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
}
.term-header-button-close {
    background: #ff615a;
}
.term-header-button-minimize {
    background: #ffc230;
}
.term-header-button-expand {
    background: #29cb41;
}
.term-header-title {
    text-align: center;
    color: #b7b6b7;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 600;
    width: 100%;
    padding-right: 60px;
}
.term-content {
    padding: 10px;
    font-size: 14px;
    color: lightgray;
}

.term-background-codeblock {
    background-color: #1f2228;
}

.term-content.slim pre {
    margin-bottom: 0px;
}
.term-content.slim code {
    padding: 0;
}

/* Styles specific to the animated gif terminal window */
.term-demo {
    width: 100%;
    max-width: 620px;
    background: #121314;
}

@media only screen and (max-width: 735px) {
    .term-header-button {
        width: 10px;
        height: 10px;
    }
    .term-content {
        font-size: 11px;
    }
    .term-content pre {
        margin-bottom: 0px;
    }
    .term-content code {
        padding: 0;
    }
}
